<div>
    <input type="text" [(ngModel)]="searchText">
    <div>
        filter by : {{searchText}}
    </div>
</div>
<table class="table " *ngIf="products.length">
    <thead>
        <tr>
            <th>Product Name</th>
            <th>Product Code</th>
            <th>Price</th>
            <th>Rating</th>
            <th>
                <button class="btn btn-primary" (click)="toggleImage()">Show image</button>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let p of filteredProduct">
            <td [ngStyle]="getFontSize(p)">{{p.productName}}</td>
            <td>{{p.productCode | lowercase | convertToSpace:'-'}}</td>
            <td [ngClass]="getPriceLevel(p)">{{p.price | number:'2.1-1'}}</td>
            <td>{{p.starRating}}</td>
            <td><img [src]="p.imageUrl" *ngIf="isShowImage"
                [alt]="p.description"
                [style.width.px] = "imageWidth"
                [style.Margin.px] = "imageMargin"
                ></td>
        </tr>
    </tbody>
</table>
<div class="alert alert-warning" *ngIf="products.length == 0" >ไม่มีข้อมูล</div>